{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">These are the notes:</h1>

    <div class="container">
        <div class="row g-4">  <!-- Each row will have up to 4 notes -->
            {% for note in notes %}
                <div class="col-md-3">  <!-- 3 columns per note -->
                    <div class="p-3 border">
                        <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-none">
                            <h3>{{ note.title }}</h3>
                        </a>
                        <p>{{ note.note|truncatechars:10 }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}